<nav class="bg grat-800 text-white h-screen w-64 fixed">
    <ul>
        <li><a href="/">Pagina Principal</a></li>
        <li><a href="/mi-cuenta">Mi cuenta</a></li>
        <li><a href="galeria">Galeria</a></li>
        <li><a href="formulario-contacto">formulario de contactos</a></li>
    </ul>
</nav>